@import url('https://fonts.googleapis.com/css?family=Montserrat:600,900&display=swap');
@import "_variables.scss";
body {
    zoom: 0.9;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $green;
    h1, h2, h3 {
        margin: 0;
        padding: 0;
    }
}

// Header and Footer

#header {
    height: 68px;
    width: 100%;
    background-color: $black;
    font-family: "Montserrat";
    .timer {
        width: 25%;
        height: 68px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $gray;
    }
    .gameName {
        width: 50%;
        height: 68px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-weight: 900;
            color: #FFF;
        }
        h3 {
            font-weight: 600;
            color: $gray;
        }
    }
    .round {
        width: 25%;
        height: 68px;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            font-weight: 600;
            color: $gray;
        }
    }
}

#footer {
    height: 68px;
    width: 100%;
    background-color: $black;
    position: absolute;
    bottom: 0;
    left: 0;
    .bettingOnColor {
        height: 68px;
        width: 33%;
        float: left;
        text-align: center;
        padding: 15px 0px 15px 15px;
        p {
            float: left;
            color: $gray;
            margin-right: 15px;
            font-size: 16px;
        }
        #redBar {
            width: 15px;
            height: 0px;
            background-color: red;
            position: absolute;
            left: 120.5px;
            bottom: 11px;
        }
        #greenBar {
            width: 15px;
            height: 0px;
            background-color: green;
            position: absolute;
            left: 140.5px;
            bottom: 11px;
        }
        #blueBar {
            width: 15px;
            height: 0px;
            background-color: blue;
            position: absolute;
            left: 160.5px;
            bottom: 11px;
        }
        #purpleBar {
            width: 15px;
            height: 0px;
            background-color: purple;
            position: absolute;
            left: 181.5px;
            bottom: 11px;
        }
        #brownBar {
            width: 15px;
            height: 0px;
            background-color: brown;
            position: absolute;
            left: 201.5px;
            bottom: 11px;
        }
        #yellowBar {
            width: 15px;
            height: 0px;
            background-color: yellow;
            position: absolute;
            left: 220.5px;
            bottom: 11px;
        }
        #orangeBar {
            width: 15px;
            height: 0px;
            background-color: orange;
            position: absolute;
            left: 240.5px;
            bottom: 11px;
        }
        #blackBar {
            width: 15px;
            height: 0px;
            background-color: $gray;
            position: absolute;
            left: 260.5px;
            bottom: 11px;
        }
    }
    .firstFiveAverage {
        height: 68px;
        width: 34%;
        float: left;
        font-family: "Montserrat";
        font-weight: 600;
        padding: 10px 0px 10px 0px;
        .data1 {
            width: 43%;
            float: left;
            p {
                float: right;
                margin: 0;
                padding: 0;
                color: $gray;
            }
            h3 {
                float: right;
                color: #FFF;
            }
        }
        .data2 {
            width: 14%;
            float: left;
            text-align: center;
            color: #FFF;
        }
        .data3{
            width: 43%;
            float: left;
            h3 {

            }
        }
    }
    .evenOddPercent {
        height: 68px;
        width: 33%;
        float: left;
        .leftSideEO, .rightSideEO {
            width: 20%;
            height: 68px;
            float: left;
            p {
                color: $gray;
                font-family: "Montserrat";
                font-weight: 600;
                text-align: center;
                margin-top: 10px;
            }
        }
        .centerEO {
            width: 60%;
            height: 68px;
            float: left;
            #evenBar {
                width: 0px;
                position: relative;
                bottom: 0;
                left: 0;
                height: 20px;
                background-color: $gray;
                margin-top: 10px;
            }
            #oddBar {
                width: 0px;
                position: relative;
                bottom: 0;
                left: 0;
                height: 20px;
                background-color: $gray;
                margin-top: 10px;
            }
        }
    }
}

// Sectors 1-5

#sectors .sideSector, 
#sectors .centerSector .wrapperSectors .sector .side div {
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        margin-right: 15px;
        border-radius: 50%;
        border: 2px solid #2dce2d;
        background: rgba(22, 22, 22, 0.7);
    }
    .value {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 20px;
        color: #FFF;
        p {
            margin: 0;
        }
    }
}

#sectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sideSector {
        height: 780px;
        width: 19%;
        padding: 40px 0px;
        padding-left: 5%;
        background-color: $green;
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        div {
            display: inherit;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .centerSector {
        width: 62%;
        height: 780px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .mainSector {
            margin-top: 7px;
            width: 580px;
            height: 498px;
            display: inherit;
            flex-direction: row;
            justify-content: space-between;
            align-items: inherit;
            .drumBox {
                #drum {
                    width: 450px;
                    height: 450px;
                    background: rgba(22, 22, 22, 0.7);
                    border: 2px solid #2dce2d;
                    border-radius: 50%;
                }
            }
            .firstFiveBox {
                .firstFive {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 100px;
                    height: 450px;
                    padding: 15px 0px;
                    background: rgba(22, 22, 22, 0.7);
                    border: 2px solid #2dce2d;
                    border-radius: 30px;
                    .circle {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        border: 2px solid #2dce2d;
                        background: $green;
                    }
                }
            }
        }

        .wrapperSectors {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;     
            
            .sector {
                width: 50%;
                display: inherit;
                justify-content: space-around;
                align-items: center;

                .side {
                    margin-top: 10px;
                    padding-left: 10%;
                    display: inherit;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 50%;

                    div {
                        margin: 9px 0px;
                        display: inherit;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }    
}

// Pause

#pause {
    width: 97%;
    height: 785px;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    
    #statistics {
        height: 730px;
        width: 100%;
        padding: 28px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #1F1F1F;
        border: 5px solid #2E2E2E;
        #drawnBalls {
            height: 100%;
            width: 60%;
            padding: 50px 30px;
            display: flex;
            justify-content: space-around;
            border: 2px solid #2E2E2E;    
            .column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .inactive {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.7);
                    color: $gray;
                    font-weight: 600;
                    font-size: 27px;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                }
                .check {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: 8px solid #000;
                }
            }
        }
        #results {
            height: 100%;
            width: 39.5%;
            border: 2px solid #2E2E2E;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                margin-top: 26px;
                color: #FFF;
                font-family: "Montserrat";
            }
            h4 {
                color: $gray;
            }
            .firstFiveNumbers {
                margin-top: 26px;
                .firstFiveInStat {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: $black;
                    color: #FFF;
                    font-weight: 600;
                    font-size: 21px;
                    float: left;
                    margin: 0px 15px 0px 15px;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                }
            }
            .firstNumberUnderAbove, .firstNumberEvenOdd{
                margin-top: 26px;
                h2 {
                    color: #FFF;
                    font-family: "Montserrat";
                }
            }
            .firstBallColor {
                margin-top: 26px;
                #firstColor {
                    color: #FFF;
                    font-family: "Montserrat";
                }
            }
            .bonusBalls {
                margin-top: 26px;
                margin-bottom: 26px;
                .twoBonusBalls {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: $black;
                    color: #FFF;
                    font-weight: 600;
                    font-size: 21px;
                    float: left;
                    margin: 0px 15px 0px 15px;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                }
            }
        }
    }
}

// Big and small balls

.bigBall {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
    font-size: 24px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: -2px 0px 0px -2px;
}

.smallBall {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    p {
        margin: 0 auto;
    }
}

.currentBall {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: #FFF;
    color: #000;
    font-weight: 600;
    display:flex;
    justify-content:center;
    align-items:center;
}

// Colors

.green {
    border: 8px solid green;
}

.blue {
    border: 8px solid blue;
}

.red {
    border: 8px solid red;
}

.purple {
    border: 8px solid purple;
}

.yellow {
    border: 8px solid yellow;
}

.orange {
    border: 8px solid orange;
}

.brown {
    border: 8px solid brown;
}

.black {
    border: 8px solid black;
}

// Bonus (stars)
.glyphicon-star {
    color: #FFF;
    font-size: 26px;
    align-items: center;
    opacity: 0.9;
}
